<!DOCTYPE html>
<html lang="hy">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QShirt.am</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap"
      rel="stylesheet"
    />
  </head>

  <body
    style="
      background-color: #efefef;
      margin: 0;
      padding: 0;
      width: 100%;
      border: 0;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    "
  >
    <table
      cellpadding="0"
      cellspacing="0"
      style="
        border-collapse: separate;
        margin: 0 auto;
        max-width: 600px;
        min-width: 320px;
        width: 600px;
        padding: 30px 15px;
        font-family: 'Roboto', Arial, sans-serif;
      "
    >
      <tr>
        <td>
          <table
            cellpadding="0"
            cellspacing="0"
            style="
              border-collapse: separate;
              margin: 0;
              padding: 0;
              width: 100%;
              background-color: #ffffff;
            "
          >
            <tr>
              <td>
                <table
                  cellpadding="0"
                  cellspacing="0"
                  style="
                    border-collapse: separate;
                    margin: 0;
                    padding: 30px;
                    width: 100%;
                  "
                >
                  <tr>
                    <td>
                      <a
                        href="https://QShirt.am"
                        target="_blank"
                        style="
                          display: block;
                          text-decoration: none;
                          font-family: 'Roboto', Arial, sans-serif;
                          width: 100%;
                        "
                      >
                        <img
                          alt="QShirt"
                          src="https://res.cloudinary.com/QShirt-am/image/upload/v1701086901/image-5_inuiqk.png"
                          imgfield="img"
                          width="100%"
                          height="100%"
                        />
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table
                  cellpadding="0"
                  cellspacing="0"
                  style="
                    background-color: #ffffff;
                    border-collapse: separate;
                    margin: 0;
                    display: block;
                    padding: 0 30px 30px;
                    width: 100%;
                  "
                >
                  <tr>
                    <td>
                      <table
                        cellpadding="0"
                        cellspacing="0"
                        style="
                          padding-bottom: 15px;
                          border-collapse: separate;
                          margin: 0;
                          width: 100%;
                        "
                      >
                        <tr>
                          <td
                            style="
                              color: #232c31;
                              font-size: 28px;
                              line-height: 1.2;
                              font-weight: 700;
                              font-family: 'Roboto', Arial, sans-serif;
                              text-align: center;
                            "
                          >
                            Շնորհավորում ենք, դուք ստացել եք նվեր քարտ
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table
                        cellpadding="0"
                        cellspacing="0"
                        style="
                          padding-bottom: 15px;
                          border-collapse: separate;
                          margin: 0;
                          width: 100%;
                        "
                      >
                        <tr>
                          <td
                            style="
                              color: #444444;
                              font-size: 22px;
                              line-height: 1.45;
                              font-weight: 500;
                              font-family: 'Roboto', Arial, sans-serif;
                              text-align: center;
                            "
                          >
                            [CustomerNameMarker]
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              color: #444444;
                              font-size: 16px;
                              line-height: 1.45;
                              font-family: 'Roboto', Arial, sans-serif;
                              text-align: center;
                              padding-top: 30px;
                            "
                          >
                            [CongratulationMarker]
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              color: #444444;
                              font-size: 16px;
                              line-height: 1.45;
                              font-family: 'Roboto', Arial, sans-serif;
                              text-align: center;
                              padding-top: 30px;
                            "
                          >
                            Նվեր քարտը ստանալու համար սեղմեք ներբեռնման կոճակը:
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="
                        text-align: center;
                        background-color: #0db02b;
                        border-radius: 4px;
                      "
                    >
                      <a
                        href="DownloadUrlMarker]"
                        target="_blank"
                        style="
                          width: 100%;
                          height: 45px;
                          border-radius: 4px;
                          text-decoration: none;
                          display: block;
                          font-family: 'Roboto', Arial, sans-serif;
                          color: white;
                          font-size: 16px;
                          line-height: 45px;
                          margin: 0;
                        "
                      >
                        Ներբեռնել
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="padding: 15px 0"></td>
      </tr>
      <tr>
        <td>
          <table
            cellpadding="0"
            cellspacing="0"
            style="background-color: white; margin: 0; padding: 0; width: 100%"
          >
            <tr>
              <td>
                <table
                  style="
                    background-color: #303e48;
                    padding: 25px 30px;
                    margin: 0;
                    width: 100%;
                  "
                >
                  <tr>
                    <td
                      style="
                        color: #ffffff;
                        font-size: 20px;
                        line-height: 1.3;
                        font-family: 'Roboto', Arial, sans-serif;
                      "
                    >
                      Ձեր առավելությունները մեզ հետ
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table
                  style="
                    border-collapse: separate;
                    margin: 0;
                    display: block;
                    padding: 0 30px;
                    width: 100%;
                  "
                >
                  <tr style="padding-top: 15px; padding-bottom: 15px">
                    <td class="advantage-img" style="width: 30px; height: 30px">
                      <img
                        src="https://static.tildacdn.com/tild3965-3833-4036-a431-373732663539/bullet.jpg"
                      />
                    </td>
                    <td
                      style="
                        font-family: 'Roboto', Arial, sans-serif;
                        display: block;
                        font-size: 18px;
                        line-height: 1.3;
                        color: #444444;
                        padding: 15px 15px;
                      "
                    >
                      Դուք երբեք չեք սխալվի նվեր ընտրելիս
                    </td>
                  </tr>
                  <tr style="padding-top: 15px; padding-bottom: 15px">
                    <td class="advantage-img" style="width: 30px; height: 30px">
                      <img
                        src="https://static.tildacdn.com/tild3965-3833-4036-a431-373732663539/bullet.jpg"
                      />
                    </td>
                    <td
                      style="
                        font-family: 'Roboto', Arial, sans-serif;
                        display: block;
                        font-size: 18px;
                        line-height: 1.3;
                        color: #444444;
                        padding: 15px 15px;
                      "
                    >
                      Հասանելի է ամենուր
                    </td>
                  </tr>
                  <tr style="padding-top: 15px; padding-bottom: 15px">
                    <td class="advantage-img" style="width: 30px; height: 30px">
                      <img
                        src="https://static.tildacdn.com/tild3965-3833-4036-a431-373732663539/bullet.jpg"
                      />
                    </td>
                    <td
                      style="
                        font-family: 'Roboto', Arial, sans-serif;
                        display: block;
                        font-size: 18px;
                        line-height: 1.3;
                        color: #444444;
                        padding: 15px 15px;
                      "
                    >
                      Մշտապես թարմացվող տեսականի
                    </td>
                  </tr>
                  <tr style="padding-top: 15px; padding-bottom: 15px">
                    <td class="advantage-img" style="width: 30px; height: 30px">
                      <img
                        src="https://static.tildacdn.com/tild3965-3833-4036-a431-373732663539/bullet.jpg"
                      />
                    </td>
                    <td
                      style="
                        font-family: 'Roboto', Arial, sans-serif;
                        display: block;
                        font-size: 18px;
                        line-height: 1.3;
                        color: #444444;
                        padding: 15px 15px;
                      "
                    >
                      Պարզ և հարմարավետ կայք
                    </td>
                  </tr>
                  <tr style="padding-top: 15px; padding-bottom: 15px">
                    <td class="advantage-img" style="width: 30px; height: 30px">
                      <img
                        src="https://static.tildacdn.com/tild3965-3833-4036-a431-373732663539/bullet.jpg"
                      />
                    </td>
                    <td
                      style="
                        font-family: 'Roboto', Arial, sans-serif;
                        display: block;
                        font-size: 18px;
                        line-height: 1.3;
                        color: #444444;
                        padding: 15px 15px;
                      "
                    >
                      Օնլայն առաքում
                    </td>
                  </tr>
                  <tr style="padding-top: 15px; padding-bottom: 15px">
                    <td class="advantage-img" style="width: 30px; height: 30px">
                      <img
                        src="https://static.tildacdn.com/tild3965-3833-4036-a431-373732663539/bullet.jpg"
                      />
                    </td>
                    <td
                      style="
                        font-family: 'Roboto', Arial, sans-serif;
                        display: block;
                        font-size: 18px;
                        line-height: 1.3;
                        color: #444444;
                        padding: 15px 15px;
                      "
                    >
                      Ունիվերսալ նվեր քարտ
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="padding: 15px 0"></td>
      </tr>
      <tr>
        <td>
          <table
            style="
              border-collapse: separate;
              margin: 0;
              padding: 40px 30px;
              background-color: #ffffff;
              width: 100%;
            "
          >
            <tr>
              <td style="padding-bottom: 15px">
                <p
                  style="
                    color: #232c31;
                    font-size: 18px;
                    line-height: 1.3;
                    margin: 0;
                    font-family: 'Roboto', Arial, sans-serif;
                  "
                >
                  Եթե ​​ունեք հարցեր, կարող եք կապ հաստատել մեզ հետ.
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <table
                  style="
                    border-collapse: separate;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                  "
                >
                  <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td
                style="
                  color: #232c31;
                  font-size: 21px;
                  line-height: 1.3;
                  font-family: 'Roboto', Arial, sans-serif;
                  padding-top: 15px;
                "
              >
                Հարգանքներով,
                <a
                  href="nvercar.am"
                  style="
                    font-size: 21px;
                    line-height: 1.3;
                    font-weight: 700;
                    font-family: 'Roboto', Arial, sans-serif;
                    padding-top: 15px;
                    color: #0db02b;
                  "
                  >QShirt.am</a
                >
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
